<!-- You can name the links with lowercase, they will be transformed to uppercase by CSS, we prefered to name them with uppercase to have the same effect with disabled stylesheet -->
<ul id="mainNav">
    <li><a href="admin" class="active">DASHBOARD</a></li> <!-- Use the "active" class for the active menu item  -->
    <li><a href="{{ urls.url('article') }}">Articles</a></li>
    <li><a href="{{ urls.url('author') }}">Authors</a></li>
    <li><a href="#">Options</a></li>
    <li class="logout"><a href="#">Logout</a></li>
</ul>
<!-- // #end mainNav -->
